.barra {
    margin: 0px 0px 50px 0px;
    font-size: 18px;
}



.navbar a {
    color: white;
}

.carrousel img {
    margin: auto;
}

.grid-value {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    grid-template-areas: "img-1 img-2"
        "img-3 img-3";
    margin: 20px 50px;
}

.grid-value img {
    height: 300px;
    width: 300px;
    border-radius: 50px;
    padding: 20px;
}

.grid-value a :hover {
    opacity: 0.5;
}

.img-1 {
    grid-area: img-1;
}

.img-2 {
    grid-area: img-2;
}

.img-3 {
    grid-area: img-3;
}

@media screen and (max-width: 666px) {
    .grid-value img {
        height: 250px;
        width: 250px;
    }
    .grid-value {
        display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    grid-template-areas:"img-1"
                        "img-2"
                        "img-3"
                        "img-3";
    margin: 20px 50px;
    }
}

.copyright {
    margin-top: 20px;
    color: rgba(64, 55, 55, 0.499);
};

.copyright hr {
    border: none;
    height: 1px;
    background-color: rgba(64, 55, 55, 0.499);
}

.copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
    border-radius: none
}